* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overlock SC', cursive;
  color: var(--text-dark);
  font-size: 1.5rem;
  overflow-y: auto;
}

h2,
h3 {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}


p {
  font-family: 'Montserrat Alternate', sans-serif;
  letter-spacing: .5px;
  text-align: justify;
  line-height: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.3s;
  font-weight: bold;
  letter-spacing: .8px;


  &:hover {
    opacity: 0.7;
  }
}