:root {
  --color-html: #f06062;
  --color-js: #ecda52;
  --color-react: #65c5e6;
  --color-php: #626cb4;
  --color-node: #8acf7b;
  --text-dark: #797979;
  --shadow-light: #5c5c5c21;
  --shadow-dark: #65c6e60e;
}