@import 'base';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'classes';
@import 'responsive';

// ========================================  variable à definir ========================================

header {
    width: 75%;
    height: 75%;
    border-radius: 8px;
    box-shadow: 1px 4px 15px var(--shadow-light);
    background-color: #fff;
    position: relative;

    .container-nav {
        display: flex;
        align-items: center;
        z-index: 2;

        nav {
            &:nth-of-type(1) {
                flex: 1;
            }

            ul {
                display: flex;
                margin: 1.5rem 0;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0 3rem;

                    .link {
                        padding: .5rem 0;
                        border-bottom: 2px solid transparent;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .header-content {
        height: 30rem;
        padding: 0 3rem;
        margin: 4rem 0;

        .circle {
            height: 26rem;
            width: 26rem;
            border-radius: 100%;
        }
    }

    .header-bg-image {
        display: flex;
        @include flex(column, center, flex-start);
        background-size: cover;
        background-position: center;
        color: #fff;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-align: center;
        height: 100%;

        &-project {
            background-image: linear-gradient(#0000005e, #0000005e), url("https://cdn.pixabay.com/photo/2017/08/01/00/16/apple-2562204_960_720.jpg");
        }

        &-about {
            background-image: linear-gradient(#0000005e, #0000005e), url("https://cdn.pixabay.com/photo/2017/06/04/23/17/lighthouse-2372461_960_720.jpg");
        }

        .container-title {
            display: flex;
            @include flex(column, center, center);
            height: 100%;
            max-width: 70%;

            h1 {
                margin: 2rem auto;
            }
        }
    }

    .description {
        width: 35%;
        line-height: 1.5rem;
    }
}

.container-icons {
    height: 35rem;
    padding: 1rem;

    .icons-content {
        width: 6rem;
        height: 6rem;
        box-shadow: 0 0 4px var(--shadow);
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;
        background: #fff;

        &:hover {
            transform: scale(1.1);
        }
    }
}

main {
    .project-content {
        display: flex;
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        margin: 15rem 0;

        .project {
            width: 45%;
            visibility: hidden;

            @media (max-width: 800px) {
                width: 100%;
                margin: 2rem;
            }
        }
    }
}



.form-content {
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
    border-radius: 5px;

    .form-group {
        margin-bottom: 2rem;

        label {
            margin-right: 1rem;
            margin-top: 1rem;
            margin-bottom: .5rem;
        }

        input,
        select,
        textarea {
            padding: 1.3rem .5rem;
            width: 100%;
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            color: var(--text-dark);
            font-size: smaller;
            background-color: #fff;

            &:focus {
                outline: 1px solid #4fb0c9;
                font-size: small;

            }

            &::placeholder {
                font-style: italic;
                color: #b4b4ab;
            }
        }
    }
}

.burger {
    justify-content: flex-end;
    padding: 2rem 3rem;
    display: none;
}


.modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 2rem 3rem;
    border: none;
    outline: none;

    .nav-link-burger {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

        .link {
            color: var(--text-dark);
            padding: .5rem 0;

        }
    }
}


footer {
    height: 30rem;
    background-color: rgb(31, 31, 31);
}